{% extends 'base.html' %}

{% load bootstrap5 %}

{%  block appcontent %}

<div class="myForm">
	<form method='POST' action=''>
		{% csrf_token %}
	  <div class="row">
		<div class='col-sm-12'>
			{{ title }}<br>
		  <div class="form-row">
			<div class="form-group col-md-3">
			  {{ invoice_number.as_p }}
			</div>
			<div class="form-group col-md-3">
			  {{ form.name.as_p }}
			</div>
			<div class="form-group col-md-3">
			  {{ form.generate_invoice.as_p }}
			</div>
			<div class="form-group col-md-3">
			  <br>
			  <button type="submit" class="btn btn-primary">Search</button>
			</div>
		  </div>
		</div>
	  </div>
	</form>
</div>

<table class='table'>
	<thead>
	  <tr>
		<th>COUNT</th>
		<th>DATE</th>
		<th>CUSTOMER NAME</th>
		<th>INVOICE NUMBER</th>
		<th>AMOUNT</th>
		<th>UPDATE</th>
		<th>DELETE</th>
	  </tr>
	</thead>
  {% for instance in queryset %}
	  <tr>
		<td>{{forloop.counter}}</td>
		<td>{{instance.invoice_date}}</td>
		<td>{{instance.name}}</td>
		<td>{{instance.invoice_number}}</td>
		<td>{{instance.total}}</td>
		<td><a href="{% url 'update' instance.id %}">{{instance.name}}</a></td>
		<td><a href="{% url 'delete' instance.id %}">Delete</a></td>
	  </tr>
  {% endfor %}
</table>

<a href="#" class="text-center scrollToTop">Scroll To Top</a>

{% endblock appcontent %}